@import '../../../../scss/varibales';
@import '../../../../scss/functions';
@import '../../../../scss/mixins';

.product-card {
  @include d-flex(column, 32px);
  flex: 1;
  padding: 20px 24px;
  background-color: $pure-white;
  box-shadow: 1px 4px 10px rgba($black, 0.1);
  border-radius: 28px;
  max-width: 107px + 24px + 24px;
  cursor: pointer;

  @include mq(max-width, 380px) {
    max-width: unset;
    width: 100%;
  }

  @include mq(min-width, $small-card-max-mq) {
    padding: 24px 28px;
    border-radius: 38px;
    max-width: 172px + 28px + 28px;
  }

  @include mq(min-width, $medium-card-max-mq) {
    padding: 32px 48px;
    border-radius: 48px;
    max-width: 200px + 48px + 48px;
  }

  &-info {
    @include d-flex(column, 12px);
    justify-content: center;

    &__title {
      font-size: size(md);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__img {
      width: 107px;
      height: 107px;

      @include mq(max-width, 400px) {
        width: 100%;
        height: 100%;
      }

      @include mq(min-width, $small-card-max-mq) {
        width: 172px;
        height: 172px;
      }

      @include mq(min-width, $medium-card-max-mq) {
        width: 200px;
        height: 200px;
      }
    }

    &__subtitle {
      @include d-flex(column, 8px);
      width: 100%;
      align-items: flex-start;

      @include mq(min-width, $medium-card-max-mq) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
      }

      &__stars {
        @include d-flex(row, 3px);
        align-items: center;

        &__short {
          display: flex;
          @include mq(min-width, $small-card-max-mq) {
            display: none;
          }
        }

        &__long {
          display: none;
          @include mq(min-width, $small-card-max-mq) {
            display: flex;
          }
        }

        &__star {
          position: relative;

          .star_btm {
            color: $grey5;
          }

          .star_top {
            position: absolute;
            top: 0;
            left: 0;
            width: var(--star-percentage);
            overflow: hidden;
            // @include prefix(transform, (translateX(58%)));
          }
        }
      }
    }
  }

  &-actions {
    @include d-flex(row, 12px);
    width: 100%;
    justify-content: center;
    align-items: center;

    &__cart {
      flex: 1;
      width: 100%;
      align-items: stretch;
      display: none;

      @include mq(max-width, 380px) {
        display: block;
      }

      @include mq(min-width, $small-card-max-mq) {
        display: block;
      }

      &__small {
        display: block;

        @include mq(max-width, 380px) {
          display: none;
        }

        @include mq(min-width, $small-card-max-mq) {
          display: none;
        }
      }

      .btn {
        flex: 1;
        width: 100%;
      }
    }
  }
}
