<button [class]="'product-card ' + className">
  <button
    class="product-card-info"
    [routerLink]="'/product/' + product?.id"
    [disabled]="disabled"
  >
    <img
      [src]="imgUrl"
      [alt]="product?.name"
      class="product-card-info__img"
      draggable="false"
    />
    <h4 class="product-card-info__title">{{ product?.name }}</h4>
    <div class="product-card-info__subtitle">
      <span class="product-card-info__subtitle__price"
        >{{ product?.price }} $</span
      >
      <div
        class="product-card-info__subtitle__stars product-card-info__subtitle__stars__long"
      >
        <div class="product-card-info__subtitle__stars__star">
          <app-icon name="star" size="sm" class="star_btm"></app-icon>
          <app-icon
            name="star"
            size="sm"
            fill="orange"
            class="star_top"
            [style]="'--star-percentage: ' + stars[0] * 21 + 'px'"
          ></app-icon>
        </div>

        <div class="product-card-info__subtitle__stars__star">
          <app-icon name="star" size="sm" class="star_btm"></app-icon>
          <app-icon
            name="star"
            size="sm"
            fill="orange"
            class="star_top"
            [style]="'--star-percentage: ' + stars[1] * 21 + 'px'"
          ></app-icon>
        </div>

        <div class="product-card-info__subtitle__stars__star">
          <app-icon name="star" size="sm" class="star_btm"></app-icon>
          <app-icon
            name="star"
            size="sm"
            fill="orange"
            class="star_top"
            [style]="'--star-percentage: ' + stars[2] * 21 + 'px'"
          ></app-icon>
        </div>

        <div class="product-card-info__subtitle__stars__star">
          <app-icon name="star" size="sm" class="star_btm"></app-icon>
          <app-icon
            name="star"
            size="sm"
            fill="orange"
            class="star_top"
            [style]="'--star-percentage: ' + stars[3] * 21 + 'px'"
          ></app-icon>
        </div>

        <div class="product-card-info__subtitle__stars__star">
          <app-icon name="star" size="sm" class="star_btm"></app-icon>
          <app-icon
            name="star"
            size="sm"
            fill="orange"
            class="star_top"
            [style]="'--star-percentage: ' + stars[4] * 21 + 'px'"
          ></app-icon>
        </div>
      </div>
      <div
        class="product-card-info__subtitle__stars product-card-info__subtitle__stars__short"
      >
        <small>{{ product?.stars }}/5</small>
        <div class="product-card-info__subtitle__stars__star">
          <app-icon name="star" size="sm" class="star_btm"></app-icon>
          <app-icon
            name="star"
            size="sm"
            fill="orange"
            class="star_top"
            [style]="'--star-percentage: ' + (product?.stars / 5) * 21 + 'px'"
          ></app-icon>
        </div>
      </div>
    </div>
  </button>

  <div class="product-card-actions">
    <app-button
      type="secondary"
      size="sm"
      leftIcon="heart"
      [fill]="isFav === true ? '#e95050' : undefined"
      class="'product-card-actions__favorite"
      (click)="onLike()"
      [disabled]="disabled"
    ></app-button>

    <app-button
      type="primary"
      size="md"
      leftIcon="shopping-cart"
      class="product-card-actions__cart__small"
      (click)="onCart()"
      [disabled]="disabled"
    />
    <app-button
      type="primary"
      size="sm"
      class="product-card-actions__cart"
      (click)="onCart()"
      [disabled]="disabled"
      >Add to cart</app-button
    >
  </div>
</button>
