<main>
  <h1 class="h2">Your Cart</h1>
  <section class="main-section cart">
    <div class="cart-list">
      <app-cart-item *ngFor="let prod of products" [product]="prod" />
    </div>
    <div class="cart-sumary">
      <div class="cart-sumary__info">
        <h2 class="h3 cart-sumary__info__title">Order Sumary</h2>
        <div class="cart-sumary__info__item cart-sumary__info__item__subtotal">
          <span>Subtotal:</span>
          <span>999.99 $</span>
        </div>
        <div class="cart-sumary__info__item cart-sumary__info__item__tax">
          <span>Price without IVA:</span>
          <span>999.99 $</span>
        </div>
        <div class="cart-sumary__info__item cart-sumary__info__item__tax">
          <span>IVA:</span>
          <span>99.99 $</span>
        </div>
      </div>

      <app-button type="primary" size="sm" link url="/">Checkout</app-button>
    </div>
  </section>

  <section class="main-section cart-recomendations">
    <header class="section-header">
      <h2>You might be interested</h2>
      <small>We thoght you might like these...</small>
    </header>
    <app-product-slider [products]="recomendedProducts" />
  </section>
</main>
