<main>
  <section class="product-detail">
    <img [src]="imgUrl" [alt]="product?.name" class="product-detail__img" />
    <div class="product-detail__info">
      <header class="product-detail__info__header">
        <div class="product-detail__info__header__title">
          <h1 class="h2">{{ product?.name }}</h1>
          <a [routerLink]="'/shop/' + product?.subcategory">
            {{ product?.subcategory }}
          </a>
        </div>

        <div class="product-detail__info__header__stars">
          <div class="product-detail__info__header__stars__star">
            <app-icon name="star" size="sm" class="star_btm"></app-icon>
            <app-icon
              name="star"
              size="sm"
              fill="orange"
              class="star_top"
              [style]="'--star-percentage: ' + stars[0] * 21 + 'px'"
            ></app-icon>
          </div>

          <div class="product-detail__info__header__stars__star">
            <app-icon name="star" size="sm" class="star_btm"></app-icon>
            <app-icon
              name="star"
              size="sm"
              fill="orange"
              class="star_top"
              [style]="'--star-percentage: ' + stars[1] * 21 + 'px'"
            ></app-icon>
          </div>

          <div class="product-detail__info__header__stars__star">
            <app-icon name="star" size="sm" class="star_btm"></app-icon>
            <app-icon
              name="star"
              size="sm"
              fill="orange"
              class="star_top"
              [style]="'--star-percentage: ' + stars[2] * 21 + 'px'"
            ></app-icon>
          </div>

          <div class="product-detail__info__header__stars__star">
            <app-icon name="star" size="sm" class="star_btm"></app-icon>
            <app-icon
              name="star"
              size="sm"
              fill="orange"
              class="star_top"
              [style]="'--star-percentage: ' + stars[3] * 21 + 'px'"
            ></app-icon>
          </div>

          <div class="product-detail__info__header__stars__star">
            <app-icon name="star" size="sm" class="star_btm"></app-icon>
            <app-icon
              name="star"
              size="sm"
              fill="orange"
              class="star_top"
              [style]="'--star-percentage: ' + stars[4] * 21 + 'px'"
            ></app-icon>
          </div>
        </div>
      </header>

      <div class="product-detail__info__items">
        <app-dropdown title="Description" [isOpen]="true">
          {{ product?.info?.description }}
        </app-dropdown>
        <app-dropdown title="Measures">
          <span><b> Width: </b> {{ product?.info?.measures?.width }}</span>
          <span><b> Height: </b> {{ product?.info?.measures?.height }}</span>
          <span><b> Depth: </b> {{ product?.info?.measures?.depth }}</span>
        </app-dropdown>
      </div>

      <div class="product-detail__info__actions">
        <div class="product-detail__info__actions__group">
          <app-button
            type="secondary"
            size="sm"
            leftIcon="heart"
            [fill]="isFav === true ? '#e95050' : undefined"
            (click)="onLike()"
            class="product-detail__info__actions__favorite"
          ></app-button>
          <div class="product-detail__info__actions__qty">
            <button
              class="product-detail__info__actions__qty__btn"
              (click)="modifyQty(-1)"
              [disabled]="qty <= 1"
            >
              <app-icon name="minus" size="sm"></app-icon>
            </button>

            <input
              #qtyInput
              type="number"
              name="quantity"
              id="quantity"
              [value]="qty"
              min="1"
              max="20"
              (input)="onInputQty(+qtyInput.value)"
            />
            <button
              class="product-detail__info__actions__qty__btn"
              (click)="modifyQty(1)"
              [disabled]="qty >= 20"
            >
              <app-icon name="plus" size="sm"></app-icon>
            </button>
          </div>
        </div>

        <app-button
          type="primary"
          size="sm"
          class="product-detail__info__actions__cart"
          (click)="onCart()"
          >Add to cart</app-button
        >
      </div>
    </div>
  </section>

  <section class="main-section product-recomendations">
    <header class="section-header">
      <h2>You might be interested</h2>
      <small>We thoght you might like these...</small>
    </header>
    <app-product-slider [products]="recomendedProducts" />
  </section>
</main>
