<footer class="footer">
  <div class="footer-container">
    <section class="footer-section footer-copyright">
      <header class="copyright-header">
        <span class="h3 header-title">RoomSync</span>
        <small class="header-subtitle">Need a change?</small>
      </header>
      <div class="copyright-social-media">
        <a
          href="#facebook"
          class="copyright-social-media__link"
          target="_blank"
        >
          <app-icon name="facebook" size="md" title="facebook" />
        </a>
        <a
          href="#linkedin"
          class="copyright-social-media__link"
          target="_blank"
        >
          <app-icon name="linkedin" size="md" title="linkedin" />
        </a>
        <a href="#twitter" class="copyright-social-media__link" target="_blank">
          <app-icon name="twitter" size="md" title="twitter" />
        </a>
        <a
          href="#instagram"
          class="copyright-social-media__link"
          target="_blank"
        >
          <app-icon name="instagram" size="md" title="instagram" />
        </a>
      </div>
      <small class="copyright-text"
        >© 2023 RoomSync. All rights reserved.</small
      >
    </section>
    <section class="footer-section footer-newsletter">
      <label for="newsletter" class="newsletter-title"
        >Subscribe to our newsletter</label
      >
      <input
        type="text"
        name="newsletter"
        id="newsletter"
        class="newsletter-input"
        placeholder="Your email"
      />
    </section>
    <nav class="footer-section footer-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#privacy-policy" target="_blank">Privacy Policy</a>
        </li>
        <li class="nav-item">
          <a href="#cookies-policy" target="_blank">Cookies Policy</a>
        </li>
        <li class="nav-item">
          <a href="#terms-conditions" target="_blank">Terms & Conditions</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
