<footer class="footer">
  <div #notice class="newsletter-notice">
    <div class="newsletter-notice__overlay" (click)="onNewsletterClose()"></div>
    <div class="newsletter-notice__alert">
      <button
        class="newsletter-notice__alert__close"
        (click)="onNewsletterClose()"
      >
        <app-icon name="x" size="md" />
      </button>
      <header class="newsletter-notice__alert__header">
        <h3>Thank you for subscribing to our newsletter!</h3>
        <span
          >We've sent you an email confirmation to
          <span #emailNewsletter>{{ emailSent }}</span> *</span
        >
      </header>
      <app-button type="primary" size="dsm" (click)="onNewsletterClose()"
        >Confirm</app-button
      >
      <small class="newsletter-notice__alert__extra">
        * You will not receive any email and your email will not be saved in any
        type of data base. This is just a practice project.
      </small>
    </div>
  </div>
  <div class="footer-container">
    <section class="footer-section footer-copyright">
      <header class="copyright-header">
        <span class="h3 header-title">RoomSync</span>
        <small class="header-subtitle">Need a change?</small>
      </header>
      <div class="copyright-social-media">
        <a
          href="#facebook"
          class="copyright-social-media__link"
          target="_blank"
        >
          <app-icon name="facebook" size="md" title="facebook" />
        </a>
        <a
          href="#linkedin"
          class="copyright-social-media__link"
          target="_blank"
        >
          <app-icon name="linkedin" size="md" title="linkedin" />
        </a>
        <a href="#twitter" class="copyright-social-media__link" target="_blank">
          <app-icon name="twitter" size="md" title="twitter" />
        </a>
        <a
          href="#instagram"
          class="copyright-social-media__link"
          target="_blank"
        >
          <app-icon name="instagram" size="md" title="instagram" />
        </a>
      </div>
      <small class="copyright-text"
        >© 2023 RoomSync. All rights reserved.</small
      >
    </section>
    <section class="footer-section footer-newsletter">
      <form #form (submit)="onNewsletterOpen(); $event.preventDefault()">
        <label for="newsletter" class="newsletter-title"
          >Subscribe to our newsletter</label
        >

        <div class="newsletter-group">
          <input
            #input
            type="text"
            name="newsletter"
            id="newsletter"
            class="newsletter-input"
            placeholder="Your email"
          />
          <button type="submit" class="newsletter-submit">Go!</button>
        </div>

        <small #error class="newsletter-error">Email not valid</small>
      </form>
    </section>
    <nav class="footer-section footer-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#privacy-policy" target="_blank">Privacy Policy</a>
        </li>
        <li class="nav-item">
          <a href="#cookies-policy" target="_blank">Cookies Policy</a>
        </li>
        <li class="nav-item">
          <a href="#terms-conditions" target="_blank">Terms & Conditions</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
