@import '../../../../scss/varibales';
@import '../../../../scss/functions';
@import '../../../../scss/mixins';

.dropdown {
  @include d-flex(column, 12px);
  justify-content: stretch;

  &-header {
    background: $ash3;
    border: none;
    font-size: size(md);
    font-family: $font-family;
    @include d-flex(row, 0);
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    padding: 12px 24px;
    cursor: pointer;
    font-weight: 600;

    &__icon {
      @include prefix(transform, (rotateX(0deg)));
      @include prefix(transition, (transform 0.5s ease-in-out));
    }
  }

  &-content {
    height: 100%;
    overflow: hidden;
    padding: 0 12px;
    @include d-flex(column, 8px);
    @include prefix(transition, (max-height 0.5s ease-in-out));
    max-height: 0;
  }

  &.open {
    padding-bottom: 12px;
    .dropdown-header {
      &__icon {
        @include prefix(transform, (rotateX(180deg)));
      }
    }
    .dropdown-content {
      max-height: var(--max-height);
    }
  }
}
