<header class="topbar">
  <div class="topbar-container">
    <span class="topbar-logo h3" routerLink="">
      <span class="topbar-logo__lg">RoomSync</span>
      <span class="topbar-logo__sm">RS</span>
    </span>
    <form
      (submit)="onSearchSubmit(); $event.preventDefault()"
      #searchBar
      class="topbar-search"
      autocomplete="off"
    >
      <label for="search" class="search-wrapper">
        <app-icon name="search" size="sm" class="search-icon" />
        <input
          #searchInput
          type="text"
          name="search"
          id="search"
          class="search-input"
          placeholder="Search..."
        />
      </label>
    </form>
    <nav class="topbar-nav">
      <ul class="nav-list">
        <li
          class="nav-item nav-action nav-action__search"
          (click)="onToggleSearch()"
        >
          <app-icon
            name="search"
            size="sm"
            title="catalog"
            class="nav-item__icon"
          />
        </li>
        <li class="nav-item" routerLink="shop">
          <app-icon
            name="book-open"
            size="sm"
            title="catalog"
            class="nav-item__icon"
          />
          <span class="nav-item__title">Catalog</span>
        </li>
        <li
          [class]="'nav-item ' + (favorites > 0 ? 'nav-item__after' : '')"
          [attr.attr-content]="favorites"
          routerLink="favorites"
        >
          <app-icon
            name="heart"
            size="sm"
            title="favorites"
            class="nav-item__icon"
          />
        </li>
        <li
          [class]="'nav-item ' + (cartProducts > 0 ? 'nav-item__after' : '')"
          [attr.attr-content]="cartProducts"
          routerLink="cart"
        >
          <app-icon
            name="shopping-cart"
            size="sm"
            title="cart"
            class="nav-item__icon"
          />
        </li>
      </ul>
    </nav>
  </div>
</header>
<div #overlay class="search-overlay" (click)="onCloseSearch()"></div>
