@import '../../../../scss/varibales';
@import '../../../../scss/functions';
@import '../../../../scss/mixins';

.topbar {
  background-color: $white;
  color: $black;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;

  .topbar-container {
    @include d-flex(row, 0);
    justify-content: space-between;
    align-items: center;
    padding: 24px $mobile-padding;
    max-width: $desktop-max-width;
    margin: 0 auto;
    z-index: inherit;
    background-color: $white;

    @include mq(min-width, $mobile-max-mq) {
      gap: 32px;
      padding-left: $tablet-padding;
      padding-right: $tablet-padding;
      max-width: $tablet-max-width;
    }

    @include mq(min-width, $tablet-max-mq) {
      padding-left: $desktop-padding;
      padding-right: $desktop-padding;
      max-width: $desktop-max-width;
    }

    .topbar-logo {
      cursor: pointer;
    }

    .topbar-search {
      flex: 1;
      background-color: $white;
      top: 0;
      left: 0;
      width: 100%;
      padding: 4px $mobile-padding;
      z-index: -1;
      position: absolute;
      opacity: 0;
      @include prefix(transition, (top 0.3s, opacity 0.3s));

      &.open {
        top: 100%;
        opacity: 1;
      }

      @include mq(min-width, $mobile-max-mq) {
        position: static;
        opacity: 1;
        z-index: inherit;
        padding: 0;
      }

      .search-wrapper {
        @include d-flex(row, 1rem);
        background-color: $grey5;
        color: $grey2;
        justify-content: flex-start;
        align-items: center;
        padding: 8px 12px;
        border-radius: 40px;
        cursor: text;

        .search-input {
          width: 100%;
          background: none;
          border: none;
          font-family: $font-family;
          font-size: size(md);

          &:focus {
            border: none;
            outline: none;
          }
        }
      }
    }

    .topbar-nav {
      .nav-list {
        @include d-flex(row, 20px);

        .nav-item {
          @include d-flex(row, 4px);
          cursor: pointer;
          position: relative;

          &.nav-action {
            &__search {
              @include mq(min-width, $mobile-max-mq) {
                display: none;
              }
            }
          }

          &__title {
            display: none;
          }

          &__after {
            &::after {
              content: attr(attr-content);
              @include d-flex();
              justify-content: center;
              align-items: center;
              position: absolute;
              top: -10px;
              right: -10px;
              background-color: lighten($ash1, 07);
              color: $white;
              min-width: 18px;
              height: 18px;
              border-radius: 6px;
              padding: 2px;
              font-weight: 600;
              font-size: size(xsm);
            }
          }
        }
      }
    }
  }
}
