.flickity-prev-next-button {
  @include mq(max-width, $tablet-max-mq) {
    display: none;
  }

  &.previous {
    left: unset;
    right: calc(100% - 12px);
  }

  &.next {
    right: unset;
    left: calc(100% - 12px);
  }
}

.flickity-page-dots {
  bottom: unset;
  top: 100%;
  .dot {
    width: 8px;
    height: 8px;
    background-color: $grey5;
    opacity: 1;
    margin: 0 5px;

    &.is-selected {
      background-color: $ash1;
    }
  }
}
