h1,
.h1 {
  margin: 0;
  font-size: size(huge);
  font-weight: 600;
}

h2,
.h2 {
  margin: 0;
  font-size: size(xbg);
  font-weight: 600;
}

h3,
.h3 {
  margin: 0;
  font-size: size(bg);
  font-weight: 600;
}

h4,
.h4 {
  margin: 0;
  font-size: size(lg);
  font-weight: 600;
}

h5,
.h5 {
  margin: 0;
  font-size: size(md);
  font-weight: 600;
}

h6,
.h6 {
  margin: 0;
  font-size: size(sm);
  font-weight: 600;
}
