<main>
  <section class="main-section">
    <header class="section-header list-header">
      <h2>{{ category ? category : 'Shop All' }}</h2>
      <div class="header-filters">
        <app-product-filter />
        <app-product-filter />
      </div>
    </header>

    <div class="product-list">
      <div class="product-card" *ngFor="let prod of products">
        <h4>{{ prod.name }}</h4>
        <span>{{ prod.category }} - {{ prod.subcategory }}</span>
      </div>
    </div>
  </section>
</main>
