<main>
  <section class="main-section">
    <header class="section-header list-header">
      <h2>{{ category ? category : 'Shop All' }}</h2>
      <div class="header-filters">
        <span (click)="changeColor('yellow')">c yellow</span>
        <span (click)="changeColor('black')">c black</span>
        <span (click)="changeMaterial('wood')">m wood</span>
        <span (click)="changeMaterial('reset')">m plas</span>
      </div>
    </header>

    <div class="product-list">
      <div class="product-card" *ngFor="let prod of products">
        <h4>{{ prod.name }}</h4>
        <span>{{ prod.category }} - {{ prod.subcategory }}</span>
      </div>
    </div>
  </section>
</main>
