<div class="cart-item">
  <div class="cart-item__header">
    <button class="cart-item__header__remove" (click)="onRemove()">
      <app-icon name="x" size="sm" />
    </button>
    <img [src]="imgUrl" [alt]="product?.name" class="cart-item__header__img" />
    <div class="cart-item__header__info">
      <span class="title">{{ product?.name }}</span>
      <span class="price">{{ product?.price | number: '1.2-2' }} $</span>
    </div>
  </div>

  <div class="cart-item__actions">
    <div class="cart-item__actions__qty">
      <button
        class="cart-item__actions__qty__btn cart-item__actions__qty__btn-minus"
        (click)="onInputQty(product?.qty - 1)"
        [disabled]="product?.qty <= 1"
      >
        <app-icon size="sm" name="minus" />
      </button>
      <span>{{ product?.qty }}</span>
      <button
        class="cart-item__actions__qty__btn cart-item__actions__qty__btn-plus"
        (click)="onInputQty(product?.qty + 1)"
        [disabled]="product?.qty >= 20"
      >
        <app-icon size="sm" name="plus" />
      </button>
    </div>

    <span class="cart-item__actions__price">
      {{ product?.price * product?.qty | number: '1.2-2' }} $
    </span>
  </div>
</div>
